@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        @apply leading-normal font-normal bg-light-gray-color;
        font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
        color-scheme: light dark;
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        --gray-light-color: #F5F5F5;      /* Светло-серый для основного фона */
        --gray-medium-color: #D3D3D3;     /* Более тёмный серый для деталей */
        --pink-pastel-color: #FFD1DC;     /* Пастельно-розовый для акцентов */
        --peach-color: #FFE5B4;           /* Персиковый для дополнительных акцентов */
        --green-light-color: #98FB98;     /* Светло-зелёный для интерактивных элементов */
        --berry-lilac-color: #C39BD3;     /* Ягодный лиловый для вторичных акцентов */
    }
    a {
        @apply font-medium text-[#646cff] hover:text-[#535bf2];
        text-decoration: inherit;
    }
    body {
        @apply block min-w-[320px] min-h-screen m-0;
        font-family: 'Roboto', sans-serif;
    }
    h1 {
        @apply text-[3.2em] leading-[1.1];
    }
    h1, h2, h3 {
        font-family: 'Montserrat', sans-serif;
    }
    
    @media (prefers-color-scheme: light) {
        :root {
            @apply text-[#213547] bg-white;
        }
        a:hover {
            @apply text-[#747bff];
        }
        button {
            @apply bg-[#f9f9f9];
        }
    }
}

@layer components {
    #root {
        @apply md:mx-4 mx-auto my-0;
    }
    .accent-text {
        font-family: 'Playfair Display', serif;
    }
    
    .special-note {
        font-family: 'Dancing Script', cursive;
    }
}
